JWT_SECRET=your-super-secret-jwt-key

POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-database-password
POSTGRES_DB=kupipodariday_db

PGDATA=/var/lib/postgresql/data
